{% extends "index.html" %}
{% block content %}
<script>
    var totalCount= '{{totalCount}}';
</script>
<table id="article-list" class="table_view">
    {% include "ArticleList.html" %}
</table>
<div class="pager_wrapper clearfix">
    <div class="pager_container">
        <span class="pager_description">共<em>202</em>条记录，每页<em>5</em>条，共<em>41</em>页</span>
        <button type="button" class="pager_action_btn" id="firstPageBtn">首页</button>
        <button type="button" class="pager_action_btn" id="prevPageBtn">上一页</button>
        <button type="button" class="pager_btn current_pager_btn">1</button>
        <button type="button" class="pager_btn">2</button>
        <button type="button" class="pager_btn">3</button>
        <button type="button" class="pager_btn">4</button>
        <button type="button" class="pager_action_btn" id="nextPageBtn">下一页</button>
        <button type="button" class="pager_action_btn" id="lastPageBtn">尾页</button>
    </div>
</div>
{% endblock %}

{% block mostPopular %}
{% include "TopPop.html"%}
{% endblock %}

{% block category %}
{% include "CategoryList.html"%}
{% endblock %}